* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 768px){
  body {
    width: fit-content;
    height: fit-content;
  }
}
@media only screen and ((max-width: 480px) and (min-width:0px) ){
  body {
    width: 100%;
    height: 100%;

  }
  .footerComplete{
    justify-content:flex-start !important;
    flex-wrap: wrap !important;
  }
  .upComingHeadCard{
    padding-right: 7vw !important ;
    width: 41vw !important;  
  } 
  .searchBoxfield{
    width: 70% !important;
  }
  .description{
    width: 300px !important;
  }
  .headerTask{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  
}
/* @media only screen and ((max-width: 769px) and (min-width:1200px) ){
  body {
    width: fit-content;
    height: fit-content;
  }
} */
.textValue{
  background-color: #1aebff;
  border-radius: 4px;
  color: blueviolet;
  padding-left: 10px;
  padding-right: 10px;
}
/* .pagination{
  display: flex;
  
  justify-content:"space-evenly"
} */
.PageIndex > span{
  padding: 5px 10px;
  
  /* border: 1px solid grey; */
  cursor: pointer;
}
.PageIndex > span:hover{
  background-color:#1aebff;
}

.selectedPage{
  background-color:#5b5fc7 
}
/* .cardCompo:hover{
  background-color: #1aebff;
} */
.cardTask{
  width: 100%;
  max-width: 100%;
  height: fit-content;
  margin-bottom: 25px,
}
.cardCompo{
background-color: #5390d9;
}
.f1qga665 {
  padding-bottom: 0 !important;
}
.CardProfile{
  background: radial-gradient(44.14% 315.57% at 17.92% 34.85%,#009dd2 0,#304899 84.93%);
}
.dateBox{
  background-color: lightgray;
  width: 45px;
  height:35px;
  border: 1px solid grey;
}
.upComingHeadCard{
  background: transparent;
  padding-right: 4vw;
  width: 250px;
}
.fui-CardPreview{
  margin: 0 !important;
}
.fui-CardHeader{
  margin: 0 !important;

}
.fcvsdzp {
  row-gap: 0 !important;
}
.f1exfvgq {
  min-width: 1% !important;
}
.f4akndk {
  column-gap: 5px !important;
}
.cardFooterContent{
  justify-content: flex-end;
  flex-wrap:wrap
}
.description{
  overflow:hidden;
  width: 400px;
  display:block;
  flex-wrap:wrap;
  cursor:pointer;
}
.footerComplete{
  justify-content: flex-end;
  align-items: center;
}
/* .latestUpcomingCard{
  background: "transparent";
  cursor: "pointer";

} */